body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  opacity: 0;
  overflow: hidden; }

nav {
  background-color: white;
  border-bottom: 1px solid #E0E0E0;
  padding: 6px 30px; }

.button {
  padding: 10px 24px;
  font-size: 12px;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: grey;
  outline: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out; }
  .button:hover {
    opacity: 0.8; }

.button.green {
  background-color: #19BDA0; }

#content {
  position: relative; }

.tab {
  padding: 0;
  margin: 0;
  list-style: none; }
  .tab li {
    box-sizing: content-box;
    transition: all 100ms ease-in-out;
    padding: 2px 10px 8px 10px;
    display: inline-block;
    vertical-align: baseline; }
    .tab li.active {
      border-bottom: 1px solid #3F4443; }
      .tab li.active:hover {
        border-bottom: 1px solid #2CC5A8; }
    .tab li:hover {
      color: #2CC5A8;
      cursor: pointer; }

.toolbar {
  list-style: none;
  margin: 0;
  padding: 10px 30px; }
  .toolbar li {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: opacity 100ms ease-in-out; }
    .toolbar li:hover {
      cursor: pointer;
      opacity: 0.8; }
    .toolbar li:not(:first-child):not(:last-child) {
      margin: 0 10px; }
    .toolbar li:first-child {
      margin: 0 10px 0 0; }
    .toolbar li:last-child {
      margin: 0 0 0 10px; }
    .toolbar li i {
      width: 24px;
      height: 24px;
      font-size: 24px; }

.avatar i {
  color: white; }
.avatar.green {
  background-color: #E91E63; }
.avatar.red {
  background-color: #F44336; }
.avatar.pink {
  background-color: #E91E63; }
.avatar.purple {
  background-color: #9C27B0; }
.avatar.deep-purple {
  background-color: #673AB7; }
.avatar.indigo {
  background-color: #3F51B5; }
.avatar.blue {
  background-color: #2196F3; }
.avatar.light-blue {
  background-color: #03A9F4; }
.avatar.cyan {
  background-color: #00BCD4; }
.avatar.teal {
  background-color: #009688; }
.avatar.light-green {
  background-color: #4CAF50; }
.avatar.lime {
  background-color: #8BC34A; }
.avatar.yellow {
  background-color: #CDDC39; }
.avatar.amber {
  background-color: #FFEB3B; }
.avatar.orange {
  background-color: #FFC107; }
.avatar.deep orange {
  background-color: #FF9800; }
.avatar.brown {
  background-color: #FF5722; }
.avatar.grey {
  background-color: #795548; }
.avatar.blue-grey {
  background-color: #9E9E9E; }

/* Navigation bar */
nav {
  display: flex;
  -webkit-flex-direction: row; }
  nav .buttons {
    padding-top: 1px;
    flex: 0; }
  nav #logo {
    flex: 1; }
    nav #logo:hover {
      cursor: pointer; }
    nav #logo a {
      font-size: 26px;
      font-family: "Architects Daughter", cursive;
      font-weight: bolder;
      color: #2cc5a8;
      text-decoration: none;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle; }
    nav #logo div {
      letter-spacing: 1px;
      font-family: "Julius Sans One", sans-serif;
      text-transform: uppercase;
      color: white;
      background-color: #ccd1d0;
      border-radius: 2px;
      font-size: 8px;
      padding: 2px 2px 1px 4px;
      vertical-align: middle;
      display: inline-block; }

.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FAFAFA;
  min-height: 200px;
  width: 480px;
  overflow-y: auto;
  box-shadow: -1px 0 0 0 #C3CDCB; }
  .sidebar > .location {
    flex: 0;
    padding: 10px 30px;
    background-color: #FFFFFF;
    text-align: left;
    box-shadow: 0 -4px 12px #3F4443; }
    .sidebar > .location i {
      display: inline-block;
      vertical-align: middle;
      background-color: #3F4443;
      color: white;
      font-size: 24px;
      padding: 8px;
      border-radius: 50%;
      margin-right: 10px; }
    .sidebar > .location div {
      font-weight: bolder;
      vertical-align: middle;
      display: inline-block; }
  .sidebar .tab {
    flex: 0;
    margin-top: 20px; }
    .sidebar .tab li {
      font-size: 12px;
      font-weight: bolder; }
      .sidebar .tab li:not(:first-child):not(:last-child) {
        margin: 0 10px; }
      .sidebar .tab li:first-child {
        margin: 0 10px 0 0; }
      .sidebar .tab li:last-child {
        margin: 0 0 0 10px; }
      .sidebar .tab li i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px; }
        .sidebar .tab li i.material-icons {
          font-size: 14px; }
      .sidebar .tab li span {
        display: inline-block;
        vertical-align: middle; }
  .sidebar .posts {
    flex: 1;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0 30px 30px 30px;
    overflow-y: auto; }
    .sidebar .posts li {
      padding: 20px;
      background-color: white;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      transition: border 200ms ease-in-out; }
      .sidebar .posts li.shining {
        animation: shiningWhiteGreen 0.6s cubic-bezier(0.19, 1, 0.22, 1) 1; }
        .sidebar .posts li.shining .id {
          animation: shiningGreenWhite 0.6s cubic-bezier(0.19, 1, 0.22, 1) 1; }
        .sidebar .posts li.shining .message {
          animation: shiningBlackWhite 0.6s cubic-bezier(0.19, 1, 0.22, 1) 1; }
        .sidebar .posts li.shining .time {
          animation: shiningGreyWhite 0.6s cubic-bezier(0.19, 1, 0.22, 1) 1; }
      .sidebar .posts li:not(:last-child) {
        margin-bottom: 16px; }
      .sidebar .posts li:hover {
        cursor: pointer;
        border: 1px solid #19BDA0; }
      .sidebar .posts li .info {
        display: flex;
        text-align: left;
        flex-direction: row; }
        .sidebar .posts li .info .avatar {
          flex: 0;
          padding: 10px;
          width: 30px;
          height: 30px;
          border-radius: 4px;
          margin-bottom: 10px;
          margin-right: 10px; }
          .sidebar .posts li .info .avatar i {
            font-size: 30px; }
        .sidebar .posts li .info .id-time {
          flex: 1;
          flex-direction: column; }
          .sidebar .posts li .info .id-time .id {
            color: #009D8A;
            font-size: 22px;
            font-weight: bolder;
            margin-bottom: 4px; }
          .sidebar .posts li .info .id-time .time {
            color: #90949C;
            font-size: 14px; }
      .sidebar .posts li .message {
        font-family: "Source Sans Pro", sans-serif;
        text-align: left; }
  .sidebar .reply {
    flex: 0;
    background-color: #FFFFFF;
    height: 160px;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #E0E0E0; }
    .sidebar .reply > .content {
      display: flex;
      flex-direction: column;
      height: 100%; }
      .sidebar .reply > .content .info {
        flex: 0; }
        .sidebar .reply > .content .info > .content {
          padding: 10px 30px;
          display: flex;
          flex-direction: row; }
          .sidebar .reply > .content .info > .content .avatar {
            width: 20px;
            height: 20px;
            padding: 8px;
            border-radius: 4px;
            margin-right: 10px; }
            .sidebar .reply > .content .info > .content .avatar i {
              font-size: 20px; }
          .sidebar .reply > .content .info > .content .id-location {
            text-align: left; }
            .sidebar .reply > .content .info > .content .id-location > .id {
              color: #009D8A;
              font-weight: bolder; }
            .sidebar .reply > .content .info > .content .id-location > .location {
              margin-top: 2px;
              color: #787878;
              font-size: 12px; }
      .sidebar .reply > .content .toolbar {
        flex: 0;
        text-align: left;
        height: 24px; }
        .sidebar .reply > .content .toolbar li .material-icons {
          color: #aaaaaa; }
        .sidebar .reply > .content .toolbar > .words {
          color: #aaaaaa;
          font-size: 14px;
          float: right;
          margin-top: 4px; }
      .sidebar .reply > .content textarea {
        box-sizing: border-box;
        width: 100%;
        border: none;
        padding: 10px 30px;
        flex: 1;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        outline: none;
        resize: none; }

#pre-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  #pre-loading #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 3px solid transparent;
    border-top-color: #3498DB;
    border-radius: 50%;
    z-index: 150;
    animation: spin 3s linear infinite; }
    #pre-loading #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 3px solid transparent;
      border-radius: 50%;
      animation: spin 2s linear infinite;
      border-top-color: #E74C3C; }
    #pre-loading #loader:after {
      content: "";
      position: absolute;
      left: 15px;
      top: 15px;
      right: 15px;
      bottom: 15px;
      border: 3px solid transparent;
      border-top-color: #F9C922;
      animation: spin 1s linear infinite;
      border-radius: 50%; }
  #pre-loading #loading-logo {
    position: absolute;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
    color: white;
    left: 50%;
    top: 50%;
    font-size: 70px;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    z-index: 100; }
  #pre-loading #loading-text {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    width: 130px;
    height: 24px;
    margin: 120px 0 0 -55px; }
    #pre-loading #loading-text:after {
      content: "Loading...";
      letter-spacing: 4px;
      font-size: 20px;
      color: white;
      animation: loading 4s linear infinite; }
  #pre-loading .pane {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: #222222;
    z-index: 80; }
    #pre-loading .pane.left {
      left: 0; }
    #pre-loading .pane.right {
      right: 0; }
  #pre-loading.loaded {
    transition: all 1s 2s cubic-bezier(1, 0, 0, 1);
    transform: translateY(-100%);
    visibility: hidden; }
    #pre-loading.loaded .pane {
      transition: all 1s 1s cubic-bezier(1, 0, 0, 1); }
      #pre-loading.loaded .pane.left {
        transform: translateX(-100%); }
      #pre-loading.loaded .pane.right {
        transform: translateX(100%); }
    #pre-loading.loaded #loader {
      opacity: 0;
      transition: all 1s cubic-bezier(1, 0, 0, 1); }
    #pre-loading.loaded #loading-logo {
      transition: all 1s cubic-bezier(1, 0, 0, 1);
      opacity: 0; }
    #pre-loading.loaded #loading-text {
      transition: all 1s cubic-bezier(1, 0, 0, 1);
      opacity: 0; }

/* animations */
@keyframes shiningWhiteGreen {
  0% {
    background-color: white; }
  50% {
    background-color: #19BDA0; }
  100% {
    background-color: white; } }
@keyframes shiningGreenWhite {
  0% {
    color: #009D8A; }
  50% {
    color: white; }
  100% {
    color: #009D8A; } }
@keyframes shiningGreyWhite {
  0% {
    color: #90949C; }
  50% {
    color: white; }
  100% {
    color: #90949C; } }
@keyframes shiningBlackWhite {
  0% {
    color: black; }
  50% {
    color: white; }
  100% {
    color: black; } }
@keyframes loading {
  0% {
    content: "Loading"; }
  25% {
    content: "Loading."; }
  50% {
    content: "Loading.."; }
  75% {
    content: "Loading..."; }
  100% {
    content: "Loading"; } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* Readme style */
.center.markdown-body {
  width: 80%;
  margin: 40px auto; }

/*# sourceMappingURL=style.css.map */
